
<div class="card mb-3" style="width: 18rem;">
  <div class="card-header">
    <h5><%= friend.full_name.truncate(30) %></h5>
    <%= link_to friend do %>
      <span class="bi bi-person-check btn btn-success"></span>
    <% end %>
  </div>

</div>
