<div class="card mb-3" style="width: 18rem;">
  <div class="card-header">
    <h5><%= friend.full_name.truncate(30) %></h5>
    </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= friend.email.truncate(30) %></li>
    <div class="list-group-item">
    <div class="card-body">
      <%= friend.residence %>
    </div>
  </ul>
</div>

