<h3>Editing friend</h3>

<%= render "form", friend: @friend %>

<br>

<div>
  <%= link_to "Show this friend", @friend, class: "btn btn-outline-success"  %> |
  <%= link_to "Back to friends", friends_path, class: "btn btn-outline-dark"  %>
</div>
